.Contacts {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.Contacts__subheader {
  color: var(--color-red);
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
}
.Contacts__list {
  list-style-type: none;
}
.Contacts__listItem {
  text-align: end;
  font-size: 2rem;
}
.Contacts__listItem a {
  color: inherit;
  text-decoration: none;
  font-size: 2rem;
}
.Contacts__listItem a:hover {
  color: var(--color-red);
}