.Home {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.Home__header {
  color: var(--color-red);
  font-size: 6rem;
  font-weight: 400;
  line-height: normal;
  margin: 3rem 0;
}
.Home__subheader {
  color: var(--color-red);
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 4rem;
}
.Home__description {
  max-width: 44rem;
  text-align: end;
}
@media screen and (max-width: 576px) {
  .Home__subheader {
    font-size: 2.4rem;
  }
}
