.Navbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
  min-width: 500px;
  height: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12rem;
  padding-right: 20rem;
}
@media screen and (max-width: 1200px) {
  .Navbar {
    padding-right: 10rem;
  }
}
@media screen and (max-width: 992px) {
  .Navbar {
    padding-right: 8rem;
    gap: 8rem;
  }
}
@media screen and (max-width: 576px) {
  .Navbar {
    height: 16rem;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: center;
    gap: 4rem;
  }
}
