.NavItem {
  color: var(--color-grey-dark);
  /* background-color: bisque; */
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: capitalize;
  /* margin-left: 12rem; */
  cursor: pointer;
  transition: all 0.2s ease;
}
.NavItem:hover {
  color: var(--color-red);
}
.NavItem-active {
  color: var(--color-red);
}
@media screen and (max-width: 992px) {
  .NavItem {
    /* margin-left: 8rem; */
  }
}
